html, body {
  background: #222;
}
#map {
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

th {
  padding-right: 10px;
}
td {
  white-space: nowrap;
}

h1 {
  position: fixed;
  z-index: 2;
  text-align: right;
  right: 0;
  font-family: Helvetica, Arial;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
}
h1 small {
  display: block;
  font-weight: normal;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 1em;
  }
}