html, body {
  background: #f0efe6;
}
#map {
  background: #eee;
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
}
#menubar {
	float: left;
    background: #f0efe6;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 2px;
	right: 0;
	height: 50px;
	width: 100%;
	box-shadow: 5px 5px 2px #e0c8d2;
}

img{
    padding-top: 5px;
	float: left;
	}

nav.primary{
	float: left;
	}
	
nav.primary>ul{
	border: 2px solid #e0c8d2;
	border-right-width: 0;
	padding:0;
	margin: 5px;
	margin-left: 40px;
	
}

li{
	display: inline-block;
	border-right: 2px solid #e0c8d2;
	padding:7px;
}

a:link{
	font-family: 'Helvetica Neue',Arial,sans-serif;
	color: #808080;
	text-decoration: none;
}

a:hover {
	color: #800000;
	}
.tableelements{
font-size:20px;
}
.tableelements1{
font-family: 'Helvetica Neue',Arial,sans-serif;
	color: #808080;
}
