html, body {
  background: #f0efe6;
}
#map {
  float:left;
  background: #eee;
  position: absolute;
  top:60px;
  left:0px;
  right:0px;
  bottom:0px;
  
}
#menubar {
    background: #f0efe6;
	
	height: 50px;
	}


img{
    padding-top: 5px;
	float: left;
	}

nav.primary{
	float: left;
	}
	
nav.primary>ul{
	border: 2px solid #e0c8d2;
	border-right-width: 0;
	padding:0;
	margin: 5px;
	margin-left: 40px;
	
}

li{
	display: inline-block;
	border-right: 2px solid #e0c8d2;
	padding:7px;
}

a:link{
	font-family: 'Helvetica Neue',Arial,sans-serif;
	color: #808080;
	text-decoration: none;
}

a:hover {
	color: #800000;
	}

